/* For the example slide for pseudo-elements*/
#pseudoexempel1, #pseudoexempel2 {
  width: 30%;
  margin: 5% 10%;
  float: left;
  font-size: 0.8em;
}

#firstlineexempel::first-line {
  color: yellow;
}

#firstletterexempel::first-letter {
  color: yellow;
  font-size: 1.3em;
}

/* ::before & ::after example */
#befoexempel {
  width: 40%;
  margin: 5% auto;
  border: 1px solid tomato;
  padding: 5% 7.5%;
  font-size: 0.6em;
}

#befoexempel:before {
  content: "Before";
  display: block;
  font-size: 0.7em;
  color: tomato;
  padding-bottom: 2.5%;
}

#befoexempel:after {
  content: "After";
  display: block;
  font-size: 0.7em;
  color: tomato;
  padding-top: 2.5%
}

/* Different uses */

#iconlist {
  list-style: none;
  margin: 0;
}

#icon1:before, #icon2:before, #icon3:before {
  content: url(../icon/snowman17.png);
}
